@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");


/* header */

*{
    font-family: 'Nunito', sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body{
  background-color: #242661;
}


#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: red;
  color: #fff;  
}


/*Nav bar starts*/

nav{
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}



nav .mainMenu{
  display: flex;
  list-style: none;
  margin-right: 120px;
} 



nav .mainMenu li a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

nav .mainMenu li a:hover{
  background: #f00;
}


nav .mainMenu li button{
  background-color: yellow;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 9px 9px 9px 9px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
  left: 50px;
  top: 5px;
}


nav .mainMenu li button:hover{
  transform: scale(1.1);
}



nav .openMenu{
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i{
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.fa-facebook:hover{color: orange;}
.fa-twitter:hover{color: orange;}
.fa-instagram:hover{color: orange;}


nav .logo{
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 40px;
}

nav .logo span{
  color: red; 
}

/*Nav bar end*/




/* Gallerey */

.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
}

.gallery img{
	width: 100%
}

#container .gallery .images{
  height: 250px;
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  overflow: hidden;
  cursor: pointer;
}


#container .gallery .images img{
  height: 250px;
  width: 350px;
  object-fit: cover;
  transition: .2s linear;
}


#container .gallery .images:hover img{
  transform: scale(1.1);
}



#container .popup{
  position: fixed;
  top: 0; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}


#container .popup span{
  position: absolute;
  top: 0; right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

#container .popup .left-arrow{
  position: absolute;
  top: 250px; left: 310px;
  font-size: 100px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 100;
}

#container .popup .right-arrow{
  position: absolute;
  top: 250px; right: 300px;
  font-size: 100px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 100;
}

#container .popup img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  height: 600px;
  object-fit: cover;
}



.end, .end1, .share{
  display: flex;
  justify-content: center;
}


.end h1{
  color: red;
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  margin-top: 30px;
}

.end h1 span{
  color: #fff;
}


.end1 ul li a{
  color: #fff;
}

.end1 ul li a:hover{
  color: greenyellow;
  text-decoration: underline;
}

.end1 ul li{
  display: inline-block;
  padding: 9px;
  font-size: 20px;
}


.share a ion-icon{
  color: #fff;
  font-size: 20px;
  padding: 10px;
}


.share a:hover ion-icon{
  transform: scale(1.1);
  background-color: #f00;
}


/*footer start*/

footer{
  border: 1px solid  #111;
  background-color: #111;
  height: 70px;
  margin-top: 40px;
}

footer h3{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

/*footer end*/

@media(max-width: 800px){  
  nav .mainMenu{
    height: 100vh;
    width: 490px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu{
    display: block;  
}

  nav .mainMenu li a:hover{
    background: none;
    color: orange;
    font-size: 1.6rem;
}

  .icons i{
    display: inline-block;
    padding: 12px;
  }

  .icons i:hover{
    transform: scale(1.2);
  }


  nav .logo{
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
    top: 17px;
  }

 nav .mainMenu li button{
  position: relative;
  margin-right: 100px;
}  

#back-to-top-btn{
  font-size: 18px;
  width: 32px; 
  height: 32px; 
}


}





/*

@media screen and (mim-width:360px) and (max-width:740px){


}


@media (max-width:768px) and (max-width:1023px)
{

  #container .popup img{
    width: 95%;
  }

} */

